body {
    margin: 0px;
    background-image: url('001.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(61, 35, 50);
}

